[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
bs4 = "*"
ciso8601 = "*"
contractions = "*"
lxml = "*"
markdown = "*"
nltk = "*"
requests = "*"
psycopg2-binary = "*"
numpy = "*"
scipy = "*"
textsearch = "*"
flask = "*"
flask-restful = "*"
python-slugify = "*"
gensim = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
