absl-py==0.3.0
alembic==1.0.7
astor==0.7.1
autoenv==1.0.0
beautifulsoup4==4.6.0
certifi==2017.11.5
chardet==3.0.4
ChatterBot==0.8.1
chatterbot-corpus==1.1.1
Click==7.0
contractions==0.0.17
cssselect==1.0.3
fake-useragent==0.1.11
Flask==1.0.2
Flask-Migrate==2.4.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
future==0.16.0
gast==0.2.0
grpcio==1.13.0
idna==2.6
itsdangerous==1.1.0
Jinja2==2.10
jsondatabase==0.1.7
lxml==4.2.5
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
mathparse==0.1.1
nltk==3.3
numpy==1.15.0
oauthlib==2.0.6
parse==1.11.1
pprint==0.1
protobuf==3.6.0
pymongo==3.6.0
pyquery==1.4.0
python-dateutil==2.6.1
python-dotenv==0.10.1
python-editor==1.0.4
python-twitter==3.3
PyYAML==3.12
redis==2.10.6
requests==2.18.4
requests-oauthlib==0.8.0
requests-xml==0.2.3
six==1.11.0
SQLAlchemy==1.1.15
tensorboard==1.9.0
tensorflow==1.9.0
termcolor==1.1.0
urllib3==1.22
virtualenv==16.4.0
w3lib==1.20.0
Werkzeug==0.14.1
xmljson==0.2.0
xmltodict==0.12.0
